@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Saira+Extra+Condensed:wght@800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

.main {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: -20px;
}

.main-card {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 90%;
    background-color: #ff5252;
    border-radius: 20px;
    border: 10px solid  #ff7b7b;
}

.settings {
    height: 100%;
    width: 400px;
    background-color: #ff0000;
    border-radius: 2.5px 0 0 2.5px;
    padding: 15px;
}

form {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.level {
    display: flex;
}


.level ul {
    list-style: none;
    margin-left: 20px;
}

.muscles {
    display: flex;
}

.muscles ul {
    list-style: none;
    margin-left: 20px;
}

.spec {
    color: white;
}

.spec input {
    border-radius: 2.5px;
}

.btn41-43 {
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
  
  .btn-43 {
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    color: white;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .btn-43:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  
  .btn-43:hover {
    color: rgb(0, 0, 0);
  }
  
  .btn-43:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }

.message {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 65%;
}

.message-content {
    width: 100%;
    height: 90%;
    margin-right: 25px;
    margin-left: 25px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 25px;
    color: white;
}

.loading-animation {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    display: none; /* Initially hide the loading animation */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

header {
    display: flex;
    align-items: center;
}

.title-container {
    display: flex;
    width: 100%;
    height: 15vh;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    background-color: white;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #ff0000;
}

.login {
    font-size: 30px;
    padding: 20px;
    margin-right: 17.5px;
    background-color: white;
    border-radius: 50px;
    color: red;
    transition: background-color 0.3s; /* Add a smooth transition effect for a better user experience */
}

.login:hover {
    background-color: red;
    color: white
}

@media (max-width: 1200px) {
    .message-content {
        font-size: 12.5px;
    }
}

@media (max-width: 1000px) {
    .message-content {
        font-size: 11px;
    }
}

@media (max-width: 600px) {
    .message-content {
        font-size: 10px;
    }
}